{% extends 'base.html' %}
{% block content %}
<div class="container headline-container">
  <div class="content">
    <div class="headline">
      <h1><a class="logo" href="/">Budgeter</a></h1>
      <h4>simple financial tracking</h4>
    </div>
  </div>
</div>
<div class="container main">
  <div class="content">
    <div>
      <h2>Enter your monthly bills</h2>
      <p>Let Budgeter do the numbers</p>
    </div>
    <div>
      <img src="/static/enter-monthly-bills.png" />
    </div>
  </div>
</div>
<div class="container main">
  <div class="content">
    <div>
      <img src="/static/track-paid-status.png" />
    </div>
    <div>
      <h2>Pay a bill, check a box</h2>
      <p>Mark a bill as <b>paid</b> and watch the results auto-update</p>
    </div>
  </div>
</div>
<div class="container main">
  <div class="content">
    <div>
      <h2>Add links to your accounts' homepage</h2>
      <p>All your financial bookmarks will be a click away</p>
    </div>
    <div>
      <img src="/static/add-quick-links.png" />
    </div>
  </div>
</div>
<div class="container main">
  <div class="content">
    <div>
      <img src="/static/basic-monthly-calculator.png" />
    </div>
    <div>
      <h2>Calculate where you stand for the month</h2>
      <p>Enter numbers for your income and expenses; we'll do the rest</p>
    </div>
  </div>
</div>
<div class="container faq">
  <div class="content faq">
    <h2>FAQ</h2>
    <dl>
      <dt>What is it?</dt>
      <dd>A basic tool to track your monthly bills</dd>
      <dt>Who's it for?</dt>
      <dd>Those of us who are either new to managing a budget or want a simple and straightforward budgeting tool</dd>
      <dt>Why Budgeter?</dt>
      <dd>It's a free service with a user friendly interface that will help you master your finances</dd>
      <dt>I'm not convinced. What else?</dt>
      <dd>
        We don't ask for any personal information&#151;no credit card, no account number, not even your name&#151;so no
        need to worry about today's security concerns
      </dd>
    </dl>
  </div>
</div>
{% endblock %}
