.Menu__wrapper___CteKw a, .Menu__wrapper___CteKw button[type="submit"] {
  cursor: pointer;
  padding: 7px 30px;
  display: block;
}

.Menu__wrapper___CteKw button[type="submit"] {
  width: 100%;
  text-align: left;
}

.Menu__wrapper___CteKw a:hover, .Menu__wrapper___CteKw button[type="submit"]:hover {
  background: #dbf8ff;
  text-decoration: none;
}

.Menu__wrapper___CteKw a:active, .Menu__wrapper___CteKw button[type="submit"]:active {
  background: #d7f3fa;
}

.Menu__wrapper___CteKw form button span {
  margin-left: 0;
}

.Menu__wrapper___CteKw .glyphicon {
  margin-right: 15px;
}

.Menu__divider___cVB7T {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.popover-content {
  padding-left: 0;
  padding-right: 0;
}
.Header__nav___wAiOo {
  padding: 0 10px;
  -ms-flex-align: center;
      align-items: center;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #101010;
  color: #008840;
  z-index: 100;
}

.Header__nav___wAiOo > a {
  -ms-flex: 0 1 150px;
      flex: 0 1 150px;
}

.Header__nav___wAiOo > button {
  -ms-flex: 0 1 50px;
      flex: 0 1 50px;
}

.Header__nav___wAiOo .btn:active:focus, .Header__nav___wAiOo .btn:focus {
  outline: none;
}

.Header__nav___wAiOo .btn {
  color: #008840;
}

.Header__nav___wAiOo h1 {
  font-size: 20px;
  font-weight: normal;
  font-family: Bitter;
  margin: 0 0 0 15px;
}

.Header__logo___1qgNO {
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.Header__circle___37gu2 {
  background: transparent;
  font-family: 'Bitter';
  border: 1px solid #008840;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  position: relative;
}

.Header__dollar___1QB9T {
  position: absolute;
  font-size: 30px;
  color: #008840;
  opacity: .35;
  top: -5px;
  left: 4px;
}

.Header__b___2TEu7 {
  font-size: 28px;
  color: #008840;
  position: absolute;
  top: -3px;
  left: 8px;
}

@media (min-width: 768px) {
  .Header__nav___wAiOo a {
    font-size: 18px;
  }
}
.Sidebar__wrapper___3r9mh {
  -ms-flex: 0 1 20%;
      flex: 0 1 20%;
  max-width: 230px;
  min-width: 175px;
  border-right: 1px solid #eee;
  background: #f7f7f7;
}

.Sidebar__wrapper___3r9mh a {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.Sidebar__wrapper___3r9mh a span:nth-child(1) {
  margin-right: 15px;
}

.Sidebar__wrapper___3r9mh a:hover {
  text-decoration: none;
  background: #dbf8ff;
  color: #337ab7;
}

.Sidebar__wrapper___3r9mh a.Sidebar__active___2Nb5Z {
  background: #428bca;
  color: #d7f3fa;
}
.ConfirmBox__body___2EbgC {
  padding-top: 10px;
}

.ConfirmBox__body___2EbgC span {
  color: #FFDC00;
  font-size: 19px;
  margin: 0 20px 0 10px;
}

.ConfirmBox__body___2EbgC p {
  font-size: 16px;
}
.AlertBox__body___2p-Sy {
  padding: 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.AlertBox__body___2p-Sy span {
  color: #008800;
  font-size: 19px;
  margin: 0 20px 0 5px;
}

.AlertBox__body___2p-Sy p {
  -ms-flex: 1 1 75%;
      flex: 1 1 75%;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.Loading__wrapper___1Kxa6 {
  padding: 20px;
  font-size: 22px;
  color: #c5e1e8;
}

.Loading__wrapper___1Kxa6 span {
  line-height: 45px;
  width: 11px;
}

.Loading__big___2jI0_ {
  font-size: 1.3em;
  position: relative;
  top: -1px;
}
.Button__active___1iCiM {
  background: #d7f3fa !important;
}
.Calculator__results___AeqSp {
  text-align: center;
  border-top: 1px solid #eee;
  margin-bottom: 15px;
  padding: 10px;
}
.Copy__form___1j_-X input[type="radio"] {
  -ms-flex: 0 0 13px;
      flex: 0 0 13px;
}

.Copy__form___1j_-X label {
  -ms-flex-align: baseline;
      align-items: baseline;
}

.Copy__sourceDate___6Sr6l {
  margin-top: 10px;
  position: relative;
}

.Copy__sourceDate___6Sr6l input.form-control {
  margin-bottom: 30px;
}

.Copy__sourceDate___6Sr6l p {
  position: absolute;
  top: 45px;
  left: 13px;
}

.Copy__warning___3k6Sc {
  margin: 20px 0;
  text-align: center;
}
.Timeframe__wrapper___1BzZa {
  display: inline-block;
  position: relative;
}

.Timeframe__wrapper___1BzZa button {
  border: 1px solid #eee;
  background: #fff;
  padding: 5px 18px;
  color: #337ab7;
}

.Timeframe__wrapper___1BzZa button:hover {
  background: #dbf8ff;
  border: 1px solid #eee;
}

.Timeframe__wrapper___1BzZa button:focus {
  outline: none;
}

.Timeframe__wrapper___1BzZa button:nth-child(1) {
  border-right: none;
}

.Timeframe__wrapper___1BzZa button:nth-child(2) {
  border-left-color: #f6f6f6;
  border-right-color: #f6f6f6;
  min-width: 250px;
  font-size: 24px;
}

.Timeframe__wrapper___1BzZa button:nth-child(3) {
  border-left: none;
}

.Timeframe__wrapper___1BzZa button:nth-child(1), .Timeframe__wrapper___1BzZa button:nth-child(3) {
  padding-left: 14px;
  padding-right: 14px;
  -ms-flex: 0 0 45px;
      flex: 0 0 45px;
}

.Timeframe__wrapper___1BzZa ul {
  position: absolute;
  max-height: 200px;
  overflow-y: scroll;
  background: #fff;
  box-shadow: 0px 0px 3px 1px #eee;
  width: 100%;
  z-index: 100;
}

.Timeframe__wrapper___1BzZa a {
  display: block;
  font-size: 17px;
  padding: 5px 20px;
  cursor: pointer;
  color: #555;
}

.Timeframe__wrapper___1BzZa a:hover {
  text-decoration: none;
  background: #dbf8ff;
  color: #555;
}

.Timeframe__wrapper___1BzZa a.Timeframe__active___38N_h {
  background: #d7f3fa;
}

.mobile .Timeframe__wrapper___1BzZa {
  display: block;
}

.mobile .Timeframe__wrapper___1BzZa ul {
  box-shadow: 0px 1px 4px 1px #eee;
}

.mobile .Timeframe__wrapper___1BzZa button {
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: initial;
}

.mobile .Timeframe__wrapper___1BzZa button:hover {
  background: #fff;
}

.mobile .Timeframe__wrapper___1BzZa button:nth-child(2) {
  -ms-flex: 1 1 80%;
      flex: 1 1 80%;
  min-width: auto;
  font-size: 21px;
}

.mobile .Timeframe__wrapper___1BzZa button:nth-child(1), .mobile .Timeframe__wrapper___1BzZa button:nth-child(3) {
  padding: 0;
  -ms-flex: 0 0 10%;
      flex: 0 0 10%;
  max-width: 45px;
  font-size: 14px;
}

.mobile .Timeframe__wrapper___1BzZa button:nth-child(1) span, .mobile .Timeframe__wrapper___1BzZa button:nth-child(3) span {
  display: block;
  width: 100%;
}

.mobile .Timeframe__wrapper___1BzZa .Timeframe__week___2LuSW {
  font-size: 20px;
}
.BillDetail__wrapper___2T-Np {
  border-bottom: 1px solid #eee;
  max-width: 1000px;
}

.BillDetail__wrapper___2T-Np > div {
  padding: 4px 7px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.BillDetail__name___3jzaT {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
}

.BillDetail__due___1lKVS {
  -ms-flex: 0 0 60px;
      flex: 0 0 60px;
}

.BillDetail__amount___2N-52 {
  -ms-flex: 0 0 100px;
      flex: 0 0 100px;
}

.BillDetail__paid___2pYiT {
  -ms-flex: 0 0 130px;
      flex: 0 0 130px;
}

.BillDetail__paid___2pYiT label {
  font-weight: normal;
}

.BillDetail__paid___2pYiT span {
  margin: 0 5px;
}

.BillDetail__paid___2pYiT input {
  margin: 0;
}

.BillDetail__autopay___2Wyb3 {
  color: #aaa;
  margin: 0 0 0 5px;
}

.BillDetail__link___16FIm {
  -ms-flex: 0 0 30%;
      flex: 0 0 30%;
}

.BillDetail__buttons___otUdN {
  -ms-flex: 0 0 10%;
      flex: 0 0 10%;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.BillDetail__buttons___otUdN button {
  padding: 3px 7px;
}

.BillDetail__buttons___otUdN button:nth-child(2) {
  margin: 0 10px;
}

.BillDetail__buttons___otUdN .btn-default {
  background-color: #fff;
  border-color: #ddd;
  color: #aaa;
}

.BillDetail__buttons___otUdN .btn-default:hover {
  background-color: #dbf8ff;
}

.BillDetail__buttons___otUdN .btn-default:active {
  background-color: #d7f3fa;
}

.BillDetail__buttons___otUdN .glyphicon-repeat {
  transform: scale(-1, 1);
}

.BillDetail__display___3mWLX .BillDetail__buttons___otUdN button {
  visibility: hidden;
}

.BillDetail__display___3mWLX:hover .BillDetail__buttons___otUdN button {
  visibility: visible;
}

.BillDetail__form___2ndw7 .BillDetail__autopay___2Wyb3 {
  color: #000;
}

.BillDetail__form___2ndw7 .BillDetail__due___1lKVS {
  -ms-flex: 0 0 90px;
      flex: 0 0 90px;
}

.mobile .BillDetail__wrapper___2T-Np {
  display: block;
  position: relative;
  height: 100px;
}

.mobile .BillDetail__wrapper___2T-Np > div {
  padding: 0;
  position: absolute;
}

.mobile .BillDetail__name___3jzaT {
  font-size: 17px;
  top: 10px;
  left: 10px;
  max-width: 63%;
}

.mobile .BillDetail__amount___2N-52 {
  font-size: 24px;
  top: 6px;
  right: 10px;
  max-width: 38%;
}

.mobile .BillDetail__paid___2pYiT {
  top: 65px;
  left: 10px;
}

.mobile .BillDetail__paid___2pYiT span:not(.BillDetail__autopay___2Wyb3) {
  margin-left: 0;
}

.mobile .BillDetail__link___16FIm {
  top: 42px;
  right: 10px;
}

.mobile .BillDetail__due___1lKVS {
  top: 42px;
  left: 10px;
  max-width: 38%;
}

.mobile .BillDetail__buttons___otUdN {
  top: 70px;
  right: 10px;
}

.mobile .BillDetail__buttons___otUdN button {
  visibility: visible;
  padding: 1px 4px;
}

.mobile .BillDetail__form___2ndw7 {
  height: 150px;
}

.mobile .BillDetail__form___2ndw7 .BillDetail__buttons___otUdN {
  top: 120px;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile .BillDetail__form___2ndw7 .BillDetail__buttons___otUdN button {
  padding: 2px 7px;
}

.mobile .BillDetail__form___2ndw7 .BillDetail__amount___2N-52 {
  top: 10px;
}

.mobile .BillDetail__form___2ndw7 .BillDetail__link___16FIm, .mobile .BillDetail__form___2ndw7 .BillDetail__due___1lKVS {
  top: 50px;
  max-width: 63%;
}

.mobile .BillDetail__form___2ndw7 .BillDetail__paid___2pYiT {
  top: 90px;
}

.mobile .BillDetail__form___2ndw7 .BillDetail__autopay___2Wyb3 {
  margin-left: 5px;
}
.BillList__wrapper___3svxR {
  padding: 20px;
}

.BillList__header___IJyTW {
  padding: 20px;
}

.BillList__stats___3pKPw, .BillList__footer___1voNo {
  padding: 0 20px 15px;
  max-width: 1040px;
}

.BillList__stats___3pKPw {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.BillList__paid___1F6Un {
  margin-right: 10px;
}

.BillList__remaining___bXLaQ {
  color: #aaa;
  text-align: right;
  font-size: 13px;
}

.mobile .BillList__wrapper___3svxR {
  padding: 0;
}

.mobile .BillList__header___IJyTW {
  padding: 0;
}

.mobile .BillList__stats___3pKPw, .mobile .BillList__footer___1voNo {
  padding: 10px;
}

.mobile .BillList__footer___1voNo {
  padding-top: 0;
}
.Graph__wrapper___1wIiI {
  max-width: 1000px;
}

.Graph__wrapper___1wIiI > div {
  margin: auto;
}

.Graph__wrapper___1wIiI svg.recharts-surface {
  width: 110%;
}

.mobile svg.recharts-surface {
  width: auto;
}
.Bills__wrapper___1XMIk {
  padding: 20px;
}

.Bills__header___2nNNH {
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  max-width: 1000px;
}

.Bills__header___2nNNH .btn.active:focus,
.Bills__header___2nNNH .btn:active:focus,
.Bills__header___2nNNH .btn:focus {
  outline: none;
}

.mobile .Bills__wrapper___1XMIk {
  padding: 0;
}

.mobile .Bills__header___2nNNH {
  padding: 0;
  display: initial;
  max-width: initial;
}

.mobile .Bills__header___2nNNH .btn-group {
  margin: 15px auto;
  display: block;
  height: 34px;
  width: 113px;
}
.GraphDetail__wrapper___275Ja h5 {
  font-size: 20px;
  text-align: center;
}
.GraphList__wrapper___2TkOn {
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile .GraphList__wrapper___2TkOn {
  padding-left: 0;
}
.Content__wrapper___1f69U {
  overflow-y: auto;
}

.Content__footer___3VjEI {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 5px 20px 20px;
  max-width: 1040px;
}

.Content__footer___3VjEI span {
  color: #aaa;
}

.Content__footer___3VjEI .glyphicon {
  margin-right: 5px;
}

.mobile .Content__wrapper___1f69U {
  overflow-y: initial;
}

.mobile .Content__header___35e2n {
  padding: 0;
}

.mobile .Content__footer___3VjEI {
  padding: 5px 10px 10px;
}
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 55px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  margin: auto;
  max-width: 800px;
}

form > div {
  margin-bottom: 25px;
}

textarea {
  min-height: 125px;
}

button, a[role^="btn"] {
  border: 2px solid #555;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #666;
  font-weight: 400;
}

button:hover, a[role^="btn"]:hover {
  border-color: #3f7390;
  cursor: pointer;
  text-decoration: none;
}

button:active, a[role^="btn"]:active {
  background: #252525;
}

button[disabled], a[role^="btn"][disabled] {
  cursor: initial;
}

button[disabled]:hover, a[role^="btn"][disabled]:hover {
  border-color: #555;
}

button[role="btn-sm"], a[role^="btn"][role="btn-sm"] {
  width: auto;
  font-size: 0.8em;
  padding: 8px 17px;
}

section {
  max-width: 1000px;
  padding: 20px;
  margin: auto;
}

#app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.form-field {
  margin-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.form-field input, .form-field label {
  margin: 0;
}

.form-field > *:nth-child(1) {
  -ms-flex: 1 1 40%;
      flex: 1 1 40%;
  padding-right: 20px;
  margin: 0;
  text-align: right;
}

.form-field > *:nth-child(2) {
  -ms-flex: 1 1 50%;
      flex: 1 1 50%;
}

.form-field > *:nth-child(2) label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: normal;
}

.form-field > *:nth-child(2) span {
  margin-left: 10px;
}

.main {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
}

.flex-row {
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.ai-center {
  -ms-flex-align: center;
      align-items: center;
}

.ai-baseline {
  -ms-flex-align: baseline;
      align-items: baseline;
}

.jc-center {
  -ms-flex-pack: center;
      justify-content: center;
}

.jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-sb {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

button span[class^="glyphicon"] ~ * {
  margin-left: 10px;
}

.App__message___h2QAO {
  position: fixed;
  line-height: 55px;
  top: 0px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  color: #aaa;
  z-index: 110;
}

.App__loading___1MTnN {
  display: none;
}
