asgiref==3.11.0
Django==5.1.15
django-htmx==1.15.0
django-stubs==5.2.7
django-stubs-ext==5.2.7
gunicorn==23.0.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
Pillow==11.1.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.4
tenacity==9.1.2
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
tzdata==2025.2
