html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  height: 100%;
  padding-top: 55px;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
label {
  margin: 0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
form {
	margin: auto;
	max-width: 800px;
	& > div {
		margin-bottom: 25px;
	}
}
textarea {
	min-height: 125px;
}
button, a[role^="btn"] {
	border: 2px solid #555;
	border-radius: 0;
	appearance: none; 
	padding: 10px 20px;
	font-size: 16px;
	color: #666;
	font-weight: 400;
	letter-spacing: 1px;
	&:hover {
		border-color: #3f7390;
		cursor: pointer;
		text-decoration: none;
	}
	&:active {
		background: #252525;
	}
	&[disabled] {
		cursor: initial;
		&:hover {
			border-color: #555;
		}
	}
	&[role="btn-sm"] {
		width: auto;
		font-size: 0.8em;
		padding: 8px 17px;
	}
}
section {
  max-width: 1000px;
  padding: 20px;
  margin: auto;
}
:global {
  #app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .main {
    flex-grow: 1;
  }
  .flex-row {
    display: flex;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .ai-center {
    align-items: center;
  }
  .jc-center {
    justify-content: center;
  }
  .jc-sa {
    justify-content: space-around;
  }
  .jc-sb {
    justify-content: space-between;
  }
  button span[class^="glyphicon"] ~ * {
    margin-left: 10px;
  }
}

.message {
  position: fixed;
  line-height: 55px;
  top: 0px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  color: #aaa;
  z-index: 110;
}