.wrapper {
  overflow-y: auto;
}
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px 20px;
  max-width: 1040px;
  span {
    color: #aaa;
  }
  :global(.glyphicon) {
    margin-right: 5px;
  }
}
:global(.mobile) {
  .wrapper {
    overflow-y: initial;
  }
  .header {
    padding: 0;
  }
  .footer {
    padding: 5px 10px 10px;
  } 
}