<wa-drawer
  label="Manage Categories"
  hx-on::load="setTimeout(() => this.open = true, 100)"
  hx-on:wa-after-hide="this.remove()"
  hx-on::config-request="event.detail.headers['X-CSRFToken'] = document.querySelector('input[name=csrfmiddlewaretoken]').value"
>
  <div class="category-list" style="display: flex; flex-direction: column; gap: 0.5rem; margin-bottom: 0.5rem;">
    {% for category in categories %}
      {% partialdef category-item inline %}
        <div style="display: grid; grid-template-columns: 1fr 40px; gap: 1rem; align-items: center;">
          <wa-input
            name="name"
            value="{{ category.name }}"
            maxlength="100"
            hx-put="{% url 'category_edit_delete' category.id %}"
            hx-trigger="blur"
          ></wa-input>
          <wa-button
            appearance="plain"
            hx-delete="{% url 'category_edit_delete' category.id %}"
            hx-target="closest div"
            hx-swap="outerHTML"
          >
            <wa-icon name="trash"></wa-icon>
          </wa-button>
        </div>
      {% endpartialdef %}
    {% endfor %}
  </div>

  <div style="display: grid; grid-template-columns: 1fr 40px; gap: 1rem; align-items: center;">
    <wa-input
      name="name"
      placeholder="New category"
      maxlength="100"
      hx-post="{% url 'category_list_create' %}?inline"
      hx-trigger="blur"
      hx-target="wa-drawer .category-list"
      hx-swap="beforeend"
      hx-on::after-request="if (event.detail.successful) this.value = '', this.focus()"
    ></wa-input>
    <span></span>
  </div>

  <div slot="footer">
    <wa-button appearance="outlined" onclick="this.closest('wa-dialog').open = false">Done</wa-button>
  </div>
</wa-drawer>
