<wa-dialog label="Add New Category" style="--width: 400px;">
  <form id="new-category-form" hx-post="/transactions/categories">
    {% csrf_token %}

    <div style="margin-bottom: 1rem;">
      <wa-input
        name="name"
        id="new-category-name"
        label="Name"
        placeholder="Subscriptions, Pet Care, Gym..."
        required
        maxlength="100"
      ></wa-input>
    </div>
  </form>

  <div slot="footer" style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
    <wa-button appearance="outlined" onclick="this.closest('wa-dialog').open = false">Cancel</wa-button>
    <wa-button type="submit" form="new-category-form">Save</wa-button>
  </div>
</wa-dialog>
