.nav {
	padding: 0 10px;
	justify-content: space-between;
	align-items: center;
	height: 55px;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 100;
	& > a {
    flex: 0 1 150px;
  }
  & > button {
    flex: 0 1 50px;
  }
  :global {
    .btn:active:focus, .btn:focus {
      outline: none;
    }
  }
}

@media (min-width: 768px) {
	.nav a {
		font-size: 18px;
	}
}
