.wrapper {
  border-bottom: 1px solid #eee;
  & > div {
    padding: 4px 7px;
    display: flex;
    align-items: center;
  }
}
.name {
  flex: 1 1 25%;
}
.amount {
  flex: 1 1 100px;
}
.paid {
  flex: 1 1 130px;
  label {
    font-weight: normal;
  }
  span {
    margin-right: 5px;
  }
  input {
    margin: 0;
  }
}
.autopay {
  color: #aaa;
  margin: 0 0 0 5px;
}
.link {
  flex: 1 1 30%;
}
.buttons {
  flex: 1 1 10%;
  justify-content: flex-end;
  button {
    padding: 3px 7px;
  }
  button:nth-child(2) {
    margin: 0 10px;
  }
  :global .btn-default {
    background-color: #fff;
    border-color: #ddd;
    color: #aaa;
    &:hover {
      background-color: #f5f5f5;
    }
    &:active {
      background-color: #f0f0f0;
    }
  }
}
.display {
  .buttons button {
    visibility: hidden;
  }
  &:hover .buttons button {
    visibility: visible;
  }
}
.form {

}
