.wrapper {
  border-bottom: 1px solid #eee;
  max-width: 1000px;
  & > div {
    padding: 4px 7px;
    display: flex;
    align-items: center;
  }
}
.name {
  flex: 0 0 25%;
}
.due {
  flex: 0 0 60px;
}
.amount {
  flex: 0 0 100px;
}
.paid {
  flex: 0 0 130px;
  label {
    font-weight: normal;
  }
  span {
    margin: 0 5px;
  }
  input {
    margin: 0;
  }
}
.autopay {
  color: #aaa;
  margin: 0 0 0 5px;
}
.link {
  flex: 0 0 30%;
}
.buttons {
  flex: 0 0 10%;
  justify-content: flex-end;
  button {
    padding: 3px 7px;
  }
  button:nth-child(2) {
    margin: 0 10px;
  }
  :global {
    .btn-default {
      background-color: #fff;
      border-color: #ddd;
      color: #aaa;
      &:hover {
        background-color: #dbf8ff;
      }
      &:active {
        background-color: #d7f3fa;
      }
    }
    .glyphicon-repeat {
      transform: scale(-1, 1);
    }
  }
}
.display {
  .buttons button {
    visibility: hidden;
  }
  &:hover .buttons button {
    visibility: visible;
  }
}
.form {
  .autopay {
    color: #000;
  }
  .due {
    flex: 0 0 90px;
  }
}


:global(.mobile) {
  .wrapper {
    display: block;
    position: relative;
    height: 100px;
    & > div {
      padding: 0;
      position: absolute;
    }
  }
  .name {
    font-size: 17px;
    top: 10px;
    left: 10px;
    max-width: 63%;
  }
  .amount {
    font-size: 24px;
    top: 6px;
    right: 10px;
    max-width: 38%;
  }
  .paid {
    top: 65px;
    left: 10px;
    span:not(.autopay) {
      margin-left: 0;
    }
  }
  .link {
    top: 42px;
    right: 10px;
  }
  .due {
    top: 42px;
    left: 10px;
  }
  .buttons {
    top: 70px;
    right: 10px;
    button {
      visibility: visible;
      padding: 1px 4px;
    }
  }
  
  .form {
    height: 150px;
    .buttons {
      top: 120px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-around;
      button {
        padding: 2px 7px;
      }
    }
    .amount {
      top: 10px;
    }
    .link, .due {
      top: 50px;
    }
    .paid {
      top: 90px;
    }
    .autopay {
      margin-left: 5px;
    }
  }
}