.wrapper {
  padding: 20px;
}
.stats, .footer {
  padding: 0 20px 15px;
  max-width: 1040px;
}
.stats {
  flex-wrap: wrap;
}
.paid {
  margin-right: 10px;
}
.remaining {
  color: #aaa;
  text-align: right;
  font-size: 13px;
}
:global(.mobile) {
  .wrapper {
    padding: 0;
  }
  .stats, .footer {
    padding: 10px;
  }
  .footer {
    padding-top: 0;
  }
}