.wrapper {
  & > div {
    padding: 2px 7px;
    display: flex;
    align-items: center;
  }
}
.name {
  flex: 1 1 25%;
}
.amount {
  flex: 1 1 10%;
}
.paid {
  flex: 1 1 5%;
  label {
    font-weight: normal;
  }
  span {
    margin-right: 5px;
  }
  input {
    margin: 0;
  }
}
.autopay {
  color: #aaa;
}
.link {
  flex: 1 1 30%;
}
.buttons {
  flex: 1 1 10%;
  button:nth-child(2) {
    margin-left: 10px;
  }
}