.wrapper {
  flex: 0 1 20%;
  max-width: 230px;
  min-width: 175px;
  border-right: 1px solid #eee;
  a {
    display: block;
    padding: 10px;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
    background: #dbf8ff;
    color: #337ab7;
  }
  a.active {
    background: #428bca;
    color: #d7f3fa;
  }
}