{% extends "app/base.html" %}

{% block content %}
  {% csrf_token %}

  <div
    id="bills-page"
    style="max-width: 1000px; margin: 0 auto; paddding: 1rem;"
    hx-on::config-request="event.detail.headers['X-CSRFToken'] = this.previousElementSibling.value"
  >
    <div style="width: 200px; margin-bottom: 1rem;">
      <sl-input
        type="month"
        id="month"
        name="month"
        value="{{ selected_month|date:'Y-m' }}"
        hx-get="{% url 'bills' %}"
        hx-target="#bills-list"
        hx-swap="outerHTML"
      ></sl-input>
    </div>

    {% include "bills/bill_list.html" %}

    <div>
      <sl-button
        variant="primary"
        hx-get="{% url 'new_bill' %}?month={{ selected_month|date:'Y-m' }}"
        hx-target="body"
        hx-swap="beforeend"
      >
        <sl-icon slot="prefix" name="plus"></sl-icon>
        Add Bill
      </sl-button>
    </div>
  </div>
{% endblock %}
