{% load currency %}

<div style="color: #888">Paid {{ paid|currency }} of {{ total|currency }}.</div>

{% if income %}
  <div style="padding-top: 10px">
    <div class="labelvalue">
      <span style="color: #0000">–</span>
      <span>Income</span>
      <span>{{ income|currency }}</span>
    </div>
    <div class="labelvalue">
      <span>–</span>
      <span>Expenses</span>
      <span>{{ total|currency }}</span>
    </div>
    <div class="labelvalue">
      <span style="border-top: 1px solid #888; color: #0000">–</span>
      <span style="border-top: 1px solid #888">Remaining</span>
      <span style="border-top: 1px solid #888">{{ remaining|currency }}</span>
    </div>
  </div>
{% else %}
  <div style="padding-top: 10px">
    <a hx-get="{% url 'add_income' %}" hx-target="body" hx-swap="beforeend">Add income</a>
  </div>
{% endif %}
