<div id="bills-list">
  <div style="flex: 1 1 70%; min-width: 30vw;">
    <ul style="list-style: none; padding: 0; margin: 0 0 1rem 0;">
      {% for bill in bills %}
        {% include "bills/bill_list_item.html" %}
        {% empty %}
        <li style="margin: 0;">No bills for this month.</li>
      {% endfor %}
    </ul>
    <div>
      <wa-button hx-get="{% url 'new_bill' %}" hx-target="body" hx-swap="beforeend">
        <wa-icon slot="start" name="plus"></wa-icon>
        Add Bill
      </wa-button>
    </div>
  </div>

  <div class="tile-container" style="padding-top: 7px;">
    <div hx-get="{% url 'bill_stats' %}" hx-trigger="load, bills-changed from:body"></div>
    <div
      hx-get="{% url 'bill_links' %}"
      hx-trigger="load"
      style="padding: 30px; border: 1px solid #eee; border-radius: 5px;"
    ></div>
  </div>
</div>
