{% load currency %}

<li class="bill-list-item">
  <div>
    {% if bill.link %}
      <a href="{{ bill.link }}" target="_blank">{{ bill.name }}</a>
    {% else %}
      <span>{{ bill.name }}</span>
    {% endif %}
  </div>

  <div>
    <span>{{ bill.amount|currency }}</span>
  </div>

  <div style="display: flex; align-items: center; gap: 0.5rem;">
    <wa-checkbox
      {% if bill.paid %}checked{% endif %}
      hx-post="{% url 'toggle_paid' bill.id %}"
      hx-target="closest li"
      hx-swap="outerHTML"
      >Paid</wa-checkbox
    >
    {% if bill.autopay %}
      <span style="transform: scale(0.95);">
        <wa-badge variant="brand" appearance="outlined">Autopay</wa-badge>
      </span>
    {% endif %}
  </div>

  <div style="display: flex; gap: 0.5rem;">
    <wa-button
      size="small"
      appearance="plain"
      hx-get="{% url 'edit_delete_bill' bill.id %}"
      hx-target="body"
      hx-swap="beforeend"
    >
      <wa-icon name="pencil" label="Edit"></wa-icon>
    </wa-button>

    <wa-button
      size="small"
      appearance="plain"
      variant="danger"
      hx-delete="{% url 'edit_delete_bill' bill.id %}"
      hx-trigger="confirmed"
      hx-target="closest li"
      hx-swap="outerHTML"
      onclick="customConfirm().then(yes => {
      if (yes) {
        htmx.trigger(this, 'confirmed');  
      } 
    })"
    >
      <wa-icon name="trash" label="Delete"></wa-icon>
    </wa-button>
  </div>
</li>
