<wa-dialog
  label="Add Income"
  hx-on::after-request="if (event.detail.successful) this.open = false"
  style="--width: 300px"
>
  <form id="income-form" hx-post="{% url 'add_income' %}">
    {% csrf_token %}

    <wa-input type="number" name="income" label="Monthly Income" required value="{{ income }}"></wa-input>
  </form>

  <div slot="footer" style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
    <wa-button appearance="outlined" onclick="this.closest('wa-dialog').open = false"> Cancel </wa-button>
    <wa-button type="submit" form="income-form">Save</wa-button>
  </div>
</wa-dialog>
